<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="level">
            <h2><span jhiTranslate="gatewayApp.level.detail.title">Level</span> {{ level.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.level.name">Name</span></dt>
                <dd>
                    <span>{{ level.name }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.level.order">Order</span></dt>
                <dd>
                    <span>{{ level.order }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.level.definition">Definition</span></dt>
                <dd>
                    <span>{{ level.definition }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.level.createdDt">Created Dt</span></dt>
                <dd>
                    <span>{{ level.createdDt }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/level', level.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
